## Python Minor Assignment-4
### LIST AND TUPLES

1. Write a Python program to create a list of size N and store the random values in it and find the sum
and average.

In [10]:
import random
n=int(input("Enter n: "))
l=[]
for i in range(0,n):
    l.append(random.randint(1,10))
print(l)
s=sum(l)
avg=s/len(l)
print(f"sum: {s}")
print(f"Avg: {avg}")

Enter n:  20

[9, 2, 1, 7, 1, 10, 7, 5, 4, 5, 3, 1, 10, 4, 2, 6, 8, 5, 8, 2]
sum: 100
Avg: 5.0

2. Define a function rotate that receives three arguments and returns a tuple in which the first argument
is at index 1, the second argument is at index 2 and the third argument is at index 0. Define variables
a, b and c containing ’Doug’, 22 and 1984. Then call the function three times. For each call, unpack
its result into a, b and c, then display their values.

In [15]:
def rotate(x,y,z):
    return (z,x,y)
    
a='Doug'
b=22
c=1984
for i in range(1,4):
    a,b,c=rotate(a,b,c)
    print(a,b,c)

1984 Doug 22
22 1984 Doug
Doug 22 1984

3. Design and develop a menu-driven Python program for the following list operations.  
a. Create a list of N integers  
b. Display the list elements  
c. Insert an element at a specific position  
d. Delete an element at a given position  
e. Exit

In [1]:
l=[]
c=True
while c:
    print("""1.Create a list of N integers
             2. Display the list elements
             3. Insert an element at a specific position
             4. Delete an element at a given position
             5. Exit""")
    choice=int(input("Enter choice: "))
    match choice:
        case 1:
            l.clear()
            n=int(input('Enter size of list: '))
            for i in range(n):
                e=int(input("Enter element: "))
                l.append(e)
        case 2:
            print(l)
        case 3:
            pos=int(input("Enter position:"))
            u=int(input("Enter the element"))
            l.insert(pos,u)
        case 4:
            i=int(input("Enter the index for deletion:"))
            if i>=0 and i<n:
                del l[i]
            else:
                print("Index out of bounds")
        case 5:
            c=False
        case _:
            print("Invalid Choice")

SyntaxError: invalid syntax (2101363714.py, line 10)

4. Write a Python program that removes all occurrences of a specific element from a list

In [3]:
l=[1,2,2,4,5,5,6,76]
n=int(input("Input number to remove all occuerences: "))
while n in l:
    l.remove(n)
print(l)

Input number to remove all occuerences:  2

[1, 4, 5, 5, 6, 76]

5. Are there any mistakes in these codes? State the outputs:

In [11]:
day, high temperature = ('Monday', 87, 65) #SyntaxError: invalid syntax

SyntaxError: invalid syntax (4051012948.py, line 1)

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers[10] #IndexError: list index out of range

IndexError: list index out of range

In [12]:
name = 'amanda'
name[0] = 'A' #TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [13]:
numbers = [1, 2, 3, 4, 5]
numbers[3.4] #TypeError: list indices must be integers or slices, not float

TypeError: list indices must be integers or slices, not float

In [14]:
student tuple = ('Amanda','Blue',[98, 75, 87])
student tuple[0] = 'Ariana' #SyntaxError: invalid syntax

SyntaxError: invalid syntax (914696357.py, line 1)

In [15]:
('Monday', 87, 65) + 'Tuesday' #TypeError: can only concatenate tuple (not "str") to tuple

TypeError: can only concatenate tuple (not "str") to tuple

In [16]:
'A' += ('B', 'C') #SyntaxError: 'literal' is an illegal expression for augmented assignment

SyntaxError: 'literal' is an illegal expression for augmented assignment (3138184409.py, line 1)

In [19]:
x=7
del x
print(x) #NameError: name 'x' is not defined

NameError: name 'x' is not defined