## Python Minor Assignment-4
### LIST AND TUPLES

1. Write a Python program to create a list of size N and store the random values in it and find the sum
and average.

In [10]:
import random
n=int(input("Enter n: "))
l=[]
for i in range(0,n):
    l.append(random.randint(1,10))
print(l)
s=sum(l)
avg=s/len(l)
print(f"sum: {s}")
print(f"Avg: {avg}")

Enter n:  20

[9, 2, 1, 7, 1, 10, 7, 5, 4, 5, 3, 1, 10, 4, 2, 6, 8, 5, 8, 2]
sum: 100
Avg: 5.0

2. Define a function rotate that receives three arguments and returns a tuple in which the first argument
is at index 1, the second argument is at index 2 and the third argument is at index 0. Define variables
a, b and c containing ’Doug’, 22 and 1984. Then call the function three times. For each call, unpack
its result into a, b and c, then display their values.

In [15]:
def rotate(x,y,z):
    return (z,x,y)
    
a='Doug'
b=22
c=1984
for i in range(1,4):
    a,b,c=rotate(a,b,c)
    print(a,b,c)

1984 Doug 22
22 1984 Doug
Doug 22 1984

3. Design and develop a menu-driven Python program for the following list operations.  
a. Create a list of N integers  
b. Display the list elements  
c. Insert an element at a specific position  
d. Delete an element at a given position  
e. Exit

In [5]:
l=[]
c=True
while c:
    print("""1.Create a list of N integers
             2. Display the list elements
             3. Insert an element at a specific position
             4. Delete an element at a given position
             5. Exit""")
    choice=int(input("Enter choice: "))
    match choice:
        case 1:
            l.clear()
            n=int(input('Enter size of list: '))
            for i in range(n):
                e=int(input("Enter element: "))
                l.append(e)
        case 2:
            print(l)
        case 3:
            pos=int(input("Enter position:"))
            u=int(input("Enter the element"))
            l.insert(pos,u)
        case 4:
            i=int(input("Enter the index for deletion:"))
            if i>=0 and i<n:
                del l[i]
            else:
                print("Index out of bounds")
        case 5:
            c=False
        case _:
            print("Invalid Choice")

SyntaxError: invalid syntax (964249888.py, line 5)

4. Write a Python program that removes all occurrences of a specific element from a list

In [3]:
l=[1,2,2,4,5,5,6,76]
n=int(input("Input number to remove all occuerences: "))
while n in l:
    l.remove(n)
print(l)

Input number to remove all occuerences:  2

[1, 4, 5, 5, 6, 76]

5. Are there any mistakes in these codes? State the outputs:

In [7]:
day, high_temperature = ('Monday', 87, 65) #ValueError: too many values to unpack (expected 2)

ValueError: too many values to unpack (expected 2)

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers[10] #IndexError: list index out of range

IndexError: list index out of range

In [12]:
name = 'amanda'
name[0] = 'A' #TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [13]:
numbers = [1, 2, 3, 4, 5]
numbers[3.4] #TypeError: list indices must be integers or slices, not float

TypeError: list indices must be integers or slices, not float

In [8]:
student_tuple = ('Amanda','Blue',[98, 75, 87])
student_tuple[0] = 'Ariana' #TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [15]:
('Monday', 87, 65) + 'Tuesday' #TypeError: can only concatenate tuple (not "str") to tuple

TypeError: can only concatenate tuple (not "str") to tuple

In [16]:
'A' += ('B', 'C') #SyntaxError: 'literal' is an illegal expression for augmented assignment

SyntaxError: 'literal' is an illegal expression for augmented assignment (3138184409.py, line 1)

In [19]:
x=7
del x
print(x) #NameError: name 'x' is not defined

NameError: name 'x' is not defined

In [1]:
numbers = [1, 2, 3, 4, 5]
numbers.index(10)

ValueError: 10 is not in list

In [2]:
numbers = [1, 2, 3, 4, 5]
numbers.extend(6, 7, 8)

TypeError: list.extend() takes exactly one argument (3 given)

In [3]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(10)

ValueError: list.remove(x): x not in list

In [4]:
values = []
values.pop()

IndexError: pop from empty list

6. Input 10 integers from the keyboard into a list. The number to be searched is entered through the
keyboard by the user. Write a Python program to find if the number to be searched is present in the
list and if it is present, display the number of times it appears in the list.

In [11]:
l = []
print("Enter 10 integers:")
for i in range(10):
    num = int(input(f"Enter number {i+1}: "))
    l.append(num)

search = int(input("\nEnter the number to search: "))

if search in l:
    count = l.count(search)
    print(f"{search} is present {count} time(s) in the list.")
else:
    print(f"{search} is not present in the list.")

Enter 10 integers:

Enter number 1:  4
Enter number 2:  4
Enter number 3:  4
Enter number 4:  3
Enter number 5:  2
Enter number 6:  1
Enter number 7:  3
Enter number 8:  5
Enter number 9:  5
Enter number 10:  6

Enter the number to search:  4

4 is present 3 time(s) in the list.

7. Write a function that takes a list of numbers as input from the user and produces the corresponding
cumulative list where each element in the list at index i is the sum of elements at index j ≤ i.

In [12]:

def cumulative_list():
    n = int(input("How many numbers? "))
    lst = []
    print("Enter the numbers:")
    for i in range(n):
        num = int(input())
        lst.append(num)
    
    cum = []
    total = 0
    for x in lst:
        total = total + x
        cum.append(total)
    
    print("Original list :", lst)
    print("Cumulative list:", cum)
cumulative_list()

How many numbers?  4

Enter the numbers:

 34
 2
 12
 3

Original list : [34, 2, 12, 3]
Cumulative list: [34, 36, 48, 51]

8. Write a function that takes n as an input and creates a list of n lists such that ith list contains the first
five multiples of i.

In [24]:
# Question 8
n = int(input("Enter value of n: "))

result = []
for i in range(1, n+1):           # i goes from 1 to n
    multi = []                    # empty list for multiples of i
    for j in range(1, 6):         # first 5 multiples
        multi.append(i * j)
    result.append(multi)

for i in range(len(result)):
    print(f"Multiples of {i+1}: {result[i]}")

Enter value of n:  1

Multiples of 1: [1, 2, 3, 4, 5]

9. Given the following inputs, indicate in each case (1) to (16), whether the statements will execute
successfully. If, so, give what will be the outcome of execution? Also give the output of print
statements (where applicable):
address = ’B-6, Lodhi road, Delhi’
list1 = [1, 2, 3]
list2 = [’a’, 1, ’z’, 26, ’d’, 4]
tuple1 = (’a’, ’e’, ’i’, ’o’, ’u’)
tuple2 = ([2,4,6,8], [3,6,9], [4,8], 5)
1. list1[3] = 4
2. print(list1 * 2)
3. print(min(list2))
4. print(max(list1))
5. print(list(address))
6. list2.extend([’e’, 5])
print(list2)
7. list2.append([’e’, 5])
print(list2)
8. names = [’rohan’, ’mohan’, ’gita’]
names.sort(key= len)
print(names)
9. list3 = [(x * 2) for x in range(1, 11)]
print(list3)
10. del list3[1:]
print(list3)
11. list4 = [ x+y for x in range(1,5) for y in range(1,5)]
print(list4)
12. tuple2[3] = 6
13. tuple2.append(5)
14. t1 = tuple2 +(5)
15. ’ , ’ .join(tuple1)
16. list(zip([’apple’, ’orange’], (’red’,’orange’)))

| No. | Statement                                      | Executes Successfully? | Output / Result                                      | Explanation                                      |
|-----|------------------------------------------------|-------------------------|-------------------------------------------------------|--------------------------------------------------|
| 1   | `list1[3] = 4`                                 | No                      | Error                                                | IndexError: list has only 3 elements             |
| 2   | `print(list1 * 2)`                             | Yes                     | [1, 2, 3, 1, 2, 3]                                    | List repetition works                            |
| 3   | `print(min(list2))`                            | No                      | Error                                                | TypeError: can't compare str and int             |
| 4   | `print(max(list1))`                            | Yes                     | 3                                                    | Maximum value in list1                           |
| 5   | `print(list(address))`                         | Yes                     | ['B', '-', '6', ',', ' ', 'L', 'o', ... 'i']          | String converted to list of characters           |
| 6   | `list2.extend(['e', 5])` → `print(list2)`      | Yes                     | ['a', 1, 'z', 26, 'd', 4, 'e', 5]                    | Adds 'e' and 5 as separate elements              |
| 7   | `list2.append(['e', 5])` → `print(list2)`      | Yes                     | ['a', 1, 'z', 26, 'd', 4, 'e', 5, ['e', 5]]          | Adds entire list as single element               |
| 8   | `names.sort(key=len)` → `print(names)`         | Yes                     | ['gita', 'mohan', 'rohan']                           | Sorted by length, then alphabetically            |
| 9   | `list3 = [(x * 2) for x in range(1, 11)]` → print | Yes                   | Yes                     | [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]                 | Doubles of numbers from 1 to 10                  |
| 10  | `del list3[1:]` → `print(list3)`                 | Yes                     | [2]                                                  | Deletes all except first element                 |
| 11  | `list4 = [x+y for x in range(1,5) for y in range(1,5)]` → print | Yes | [2, 3, 4, 5, 3, 4, 5, 6, 4, 5, 6, 7, 5, 6, 7, 8]     | All pairwise sums from 1 to 4                    |
| 12  | `tuple2[3] = 6`                                | No                      | Error                                                | TypeError: tuples are immutable                  |
| 13  | `tuple2.append(5)`                             | No                      | Error                                                | AttributeError: tuple has no append              |
| 14  | `t1 = tuple2 + (5)`                            | No                      | Error                                                | TypeError: can't concatenate tuple and int       |
| 15  | `' , ' .join(tuple1)`                          | Yes (no print)          | 'a , e , i , o , u'                                  | Joins tuple elements with " , "                  |
| 16  | `list(zip(['apple', 'orange'], ('red','orange')))` | Yes (no print)      | [('apple', 'red'), ('orange', 'orange')]             | Creates list of paired tuples                    |